.rail {
  stroke: rgba(96, 96, 96, 1);
}

.progress {
  stroke: url(#gradient);
  filter: drop-shadow(0.5px 0.5px 1px #fc466b);
  stroke-linecap: round;
  transition: .2s ease-in-out;
}

.progress-text {
  font-size: 0.7em;
  font-family: Trebuchet MS, sans-serif;
  font-weight: bold;
  /* fill: #fc466b; */
}

.progress-percent {
  animation: textGlow 2s ease-in-out infinite alternate;
  transition: .2s ease-in-out;
  /* fill: #fc466b; */
}

.progress-name {
  font-size: 0.3em;
  animation: textGlow 2s ease-in-out infinite alternate;
}

@keyframes textGlow {
  0% {
    filter: drop-shadow(0 0 2px #FC466B);
  }
  100% {
    filter: drop-shadow(0 0 8px #3F5EFB);
  }
}